
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="span12 pagination-centered">
                    <div class="span1"></div>
                    <div class="span10" style="line-height: 60px">
                        @*<div class="btn-group">*@
                        <a onclick="submitPayment(1)" class="btn-primary donate-button" >&nbsp;&nbsp;$1&nbsp;&nbsp;</a>
                        <a onclick="submitPayment(5)" class="btn-warning donate-button">&nbsp;&nbsp;$5&nbsp;&nbsp;</a>
                        <a onclick="submitPayment(10)" class="btn-success donate-button">&nbsp;$10&nbsp;</a>
                        @*<a class="btn btn-large btn-primary" style="margin-right: 2%; margin-left: 2%">&nbsp;$15&nbsp;</a>
                        <a class="btn btn-large btn-danger" style="margin-right: 2%; margin-left: 2%">&nbsp;$20&nbsp;</a>
                        <a class="btn btn-large btn-inverse" style="margin-right: 2%; margin-left: 2%">&nbsp;$25&nbsp;</a>*@
                        @*<a class="btn btn-large btn-success">$20</a>*@
                        @*</div>*@
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
            <br/><br/>
        </div>
        <!-- .container -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/boostrap")
    </body>
</html>

        
@{
    ViewBag.Title = "Fund";
}

<h2>Event</h2>