@{
    ViewBag.Title = "Thankyou";
    Layout = null;

}

<div class="container">
    <div class="row">
        <div class="hero-unit">
            Thanks you for your payment
        </div>
    </div>
</div>
