@{
    ViewBag.Title = "Thankyou";
    Layout = null;
}

<style>

body{

background-image:none !important; //removes default background

}



body table:first-child{ //adds nice shadow and smooth border effects, and expands the width and margin of the main content element

margin-top:10px;

width:900px;

padding:10px;

-moz-border-radius: 10px;

border-radius: 10px;

-moz-box-shadow: 0px 0px 8px 0.3px #2f3a42;

-webkit-box-shadow:0px 0px 8px 0.3px #2f3a42;

box-shadow: 0px 0px 8px 0.3px #2f3a42;

}

</style>

<h2>Thank You!</h2>
