
/*Controls*/

.donate-button {
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}



/************************************************************************************************/

/*Bootstrap overrides*/

a:hover, a:focus {
    text-decoration: none !important;
}

body {
    height: 100% !important;
}

.donate-button {
    padding-top: 5% !important;
    line-height: 125px;
    font-size: 350% !important;
}

/************************************************************************************************/


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {
    .donate-button {
        margin-right: 2%;
        margin-left: 2%;
        min-height: 100px;
        min-width: 80px;
        font-size: 50px;
        padding-top: 15%;
        padding-bottom: 5%;
        padding-left: 7%;
        padding-right: 7%;
    }
}